<% content_for :main_content do %>
<section class="column">
	<h1>About</h1>
	<p>Dwarves from across the world gather once a decade</p>
	<p>To participate in the great Forge Festival.</p>
	<br>
	<p>Forge teams compete across many days in the ancestral mountain forges </p>
	<p>to create items of superior quality and uncommon beauty.</p>
	<br>
	<p>Items are judged on a 1-10 scale for each category (quality and beauty).</p>
	<p>Each value above 6 awards the team 1 point.</p>
	<p>EX: a sword with quality score 7 and beauty score of 8 awards 3 points.</p>
	<p>Quality and Beauty scores below 7 award no points.</p>
	<br>
	<p>At the end of the festival, the team with the highest score wins.</p>
	<p>A celebration is held in their honor, and they are awarded</p>
	<p>with chests of gold and mithril ore.</p>
</section>
<% end %>